name: publish to PyPI

on:
  - push
  - workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests with coverage
      run: |
        python -m setuptools_scm
        python -m pytest --cov

  upload-to-pypi:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    environment:
      name: pypi
      url: https://pypi.org/p/lpsim/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Shallow clones should be disabled for setuptools_scm
        fetch-tags: true  # Fetch all tags for setuptools_scm

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Fetch tags and print
      run: |
        git tag
        python -m setuptools_scm


    - name: Create distributions
      run: |
        python -m build

    - name: Publish package distributions to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  upload-to-test-pypi:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://test.pypi.org/p/lpsim/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Shallow clones should be disabled for setuptools_scm
        fetch-tags: true  # Fetch all tags for setuptools_scm

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Fetch tags and print
      run: |
        git tag
        python -m setuptools_scm


    - name: Create distributions
      run: |
        python -m build

    - name: Publish package distributions to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
